# IDE and dependency folders
node_modules/
aseets/
temp/

# Folders with student media and data
# The rule 'media/' makes 'media/live/' redundant.
media/
live/
unprocessed_streams/
student_adhar_back/
student_adhar_front/
Student_entrance_form/
student_photo/
Student_sig/
assets/
logs/
# Exclude all archives and data files
*.zip
app.zip
database/
Google.json
# Exclude all image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp

# Exclude all video files
*.mp4
*.mkv
*.mov
*.avi
*.flv
*.wmv
*.webm
ffmpeg-7.0.2-arm64-static/manpages/ffprobe.txt
ffmpeg-release-arm64-static.tar.xz
ffmpeg-7.0.2-arm64-static/ffmpeg
ffmpeg-7.0.2-arm64-static/ffprobe
ffmpeg-7.0.2-arm64-static/GPLv3.txt
ffmpeg-7.0.2-arm64-static/qt-faststart
ffmpeg-7.0.2-arm64-static/readme.txt
ffmpeg-7.0.2-arm64-static/manpages/ffmpeg-all.txt
ffmpeg-7.0.2-arm64-static/manpages/ffmpeg-bitstream-filters.txt
ffmpeg-7.0.2-arm64-static/manpages/ffmpeg-codecs.txt
ffmpeg-7.0.2-arm64-static/manpages/ffmpeg-devices.txt
ffmpeg-7.0.2-arm64-static/manpages/ffmpeg-filters.txt
ffmpeg-7.0.2-arm64-static/manpages/ffmpeg-formats.txt
.gitignore
ffmpeg-7.0.2-arm64-static/manpages/ffmpeg-protocols.txt
ffmpeg-7.0.2-arm64-static/manpages/ffmpeg-resampler.txt
ffmpeg-7.0.2-arm64-static/manpages/ffmpeg-scaler.txt
ffmpeg-7.0.2-arm64-static/manpages/ffmpeg-utils.txt
ffmpeg-7.0.2-arm64-static/manpages/ffmpeg.txt
.env
